In [20]:
x=2
y=5
print(x+y)

7

In [ ]:
mask = (
    titanic['Pclass'].isin([1, 2]) &
    titanic['Age'].notnull() & (titanic['Age'] >= 18) &
    (titanic['Sex'] == 'female') &
    (titanic['Fare'] >= 10) & (titanic['Fare'] <= 50) &
    (titanic['Embarked'] == 'S') &
    (titanic['Survived'] == 1))

In [21]:
number=6
square=number*number
stmt=(f"the square of {number} is {number}")
print (f"the square of {number} is {number}")

the square of 6 is 6

In [30]:
days =["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
days.pop
days.insert(6, "Shabbos")
print(days)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Shabbos', 'Saturday']

In [23]:

import pandas as pd
import numpy as np


df = pd.read_csv("titanic (1).csv")


print(df.head())

   PassengerId  Survived  Pclass  \
0            1       0.0       3
1            2       1.0       1
2            3       1.0       3
3            4       1.0       1
4            5       0.0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare  ... Embarked WikiId  \
0      0         A/5 21171   7.2500  ...        S  691.0
1      0          PC 17599  71.2833  ...        C   90.0
2      0  STON/O2. 3101282   7.9250  ...        S  865.0
3      0            113803  53.1000  ...        S  127.0
4      0            373450   8.0500  ...        S  627.0

                                    Name_wiki Age_wiki  \
0                     Braund, Mr. Owen Harris     22.0
1  Cumings, Mrs. Florence Briggs (née Thayer)     35.0
2                       Heikkinen, Miss Laina     26.0
3          Futrelle, Mrs. Lily May (née Peel)     35.0
4                    Allen, Mr. William Henry     35.0

                             Hometown      Boarded  \
0          Bridgerule, Devon, England  Southampton
1              New York, New York, US    Cherbourg
2                  Jyväskylä, Finland  Southampton
3         Scituate, Massachusetts, US  Southampton
4  Birmingham, West Midlands, England  Southampton

                               Destination Lifeboat Body Class
0  Qu'Appelle Valley, Saskatchewan, Canada      NaN  NaN   3.0
1                   New York, New York, US        4  NaN   1.0
2                            New York City      14?  NaN   3.0
3              Scituate, Massachusetts, US        D  NaN   1.0
4                            New York City      NaN  NaN   3.0

[5 rows x 21 columns]

In [26]:
titanic(1).csv("Survived == 1")\
	  .groupby("Pclass")["Fare"]\
	  .mean()\
	  .reset_index()\
        .rename(columns={"Fare":"AvgFare"})

NameError: name 'titanic' is not defined

In [27]:
titanic.query("Survived == 1")\
	  .groupby("Pclass")["Fare"]\
	  .mean()\
	  .reset_index()\
        .rename(columns={"Fare":"AvgFare"})

NameError: name 'titanic' is not defined

In [28]:
SELECT Pclass, AVG(Fare) AS AvgFare
FROM titanic
WHERE Survived = 1
GROUP BY Pclass;

SyntaxError: invalid syntax (844863868.py, line 1)